<ion-header class="d-block d-sm-none" mode="ios">
  <ion-toolbar class="home-header-bg-color">
    <ion-row>
      <ion-col size="3" no-padding>
        <ion-buttons class="m-0">
          <ion-button color="light" (click)="toggleBtn()">
            <ion-icon ios="md-list" md="md-list"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-title class="text-center">
          <img src="/assets/logo/logo.png" height="40"/>
        </ion-title>
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<header class="d-none d-sm-block d-md-block home-page">
  <nav class="navbar navbar-expand-md home-header-bg-color pt-3 pb-3">
    <a class="navbar-brand" href="#">
      <div class="pl-3 pr-3">
        <img src="/assets/logo/logo.png" />
      </div>
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <form class="form-inline">
        <div class="input-group header-nav-search search-color">
          <input type="text" class="form-control background-transparent border-none" id="inlineFormInputGroup"
            placeholder="Search">
          <div class="input-group-prepend">
            <div class="input-group-text background-transparent border-none search-color">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav ml-3 mr-3 m-auto">
        <li class="nav-item">
          <a class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">TRENDING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">HISTORY</a>
        </li>
      </ul>
      <div id="dd" class="wrapper-dropdown-2">
        <a class="d-flex justify-content-center align-items-center curson-pointer" data-toggle="dropdown">
          <img src="/assets/profile/package-lock.png" height="40" />
          <div class="d-flex ml-2 mr-2">
            <div class="flex-column justify-content-center">
              <h5>Rabie Elkheir</h5>
              <h6 class="m-auto">25 subscriber</h6>
            </div>
            <i class="fa fa-angle-down align-self-center ml-2 mr-2" aria-hidden="true"></i>
          </div>
        </a>
        <ul class="dropdown">
          <li><a href="#"><i class="fa fa-edit"></i>EDIT PROFILE</a></li>
          <li><a href="#"><i class="fa fa-video-camera"></i>ADD VIDEO</a></li>
          <li><a href="#"><i class="fa fa-star"></i>FAVORITES</a></li>
          <li><a href="#"><i class="fa fa-sign-out"></i>SIGN OUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>