<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md" class="root-page-tab-bar-container">
    <ion-tab-button tab="search" class="root-page-tab-bar-button-container m-0">
      <ion-icon ios="ios-search" md="ios-search" class="root-page-tab-bar-icon"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home" class="root-page-tab-bar-button-container m-0">
      <ion-icon ios="md-home" md="md-home" class="root-page-tab-bar-home-icon"></ion-icon>
      <div class="root-page-tab-bar-btn-container"></div>
      <div class="root-page-tab-bar-btn-sub-container"></div>
    </ion-tab-button>
    <ion-tab-button tab="favorite" class="root-page-tab-bar-button-container m-0">
      <ion-icon ios="md-heart" md="md-heart" class="root-page-tab-bar-icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>