<app-header></app-header>

<ion-content>
    <section class="sidebar-container">
        <ul>
            <li class="bottom-li-border"><i class="fa fa-home" aria-hidden="true"></i>Home</li>
            <li class="bottom-li-border"><i class="fa fa-home" aria-hidden="true"></i>Home</li>
            <li class="bottom-li-border"><i class="fa fa-home" aria-hidden="true"></i>Home</li>
        </ul>
    </section>
    <section class="container-fluid red">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>
</ion-content>